#map {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: grey;
}

#nav {
	height: auto;
	background-color: rgb(32, 32, 32);
  font-size: 16pt;
  font-family: sans-serif;
}

#title {
  padding: 10px;
  text-align: center;
}

body {
	height: 100%;
	margin: 0;
}

html {
	height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body, h1 {
  color: #404040;
}

h1 {
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 800;
  font-size: 80px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}