#map {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: grey;
}

#nav {
	height: auto;
	background-color: rgb(32, 32, 32);
}

body {
	height: 100%;
	margin: 0;
}

html {
	height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}